h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2.75rem;
}

.article-container {
    max-width: 960px;
}

.docs-article-container {
    max-width: 960px;
}

#hero img {
    max-width: 60%;
}

.hero-title {
    line-height: 1.2;
    font-weight: 700;
}

.icon-list {
    list-style: none;
    text-indent: -0.7rem;
    padding-left: 1.4rem;
}

.contact-policy {
    font-size: 0.8rem;
    line-height: 1.5;
}

.due-date {
    margin-bottom: 2.5rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    text-align: left;
    font-size: 100%;
}

.course-info {
    font-size: 0.9rem;
}

.credits {
    font-size: 0.7rem;
}

.course-info p, .credits p {
    margin-bottom: 0.3rem;
}

.centered-table table {
    margin: 0 auto 1rem;
}

.article-style #TOC:before {
    content: "Contents";
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    background-color: #ddd;
    padding: 5px 10px 0px;
    margin-bottom: 1.1rem;
}

.article-style #TOC {
    font-family: "Overpass", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    background: #f2f2f2;
    padding: 8px 8px;
    margin: 4px 0 2rem;
}

.article-style #TOC ul {
    padding-left: 2em;
}

.footnotes {
    font-size: 0.8rem;
    line-height: 1.3;
}

// .fake-header {
//     font-family: "Oswald", sans-serif;
//     font-weight: 700;
//     text-transform: uppercase;
//     font-size: 1.2rem;
// }

.fake-header-table, td.mid-table-header {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
}

.fake-header-table {
    font-size: 1.1rem;
}

td.mid-table-header {
    text-align: center;
    vertical-align: middle !important;
}

.article-style .slide-thumb {
    margin-top: 0;
}
