<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:20%;text-align:right">{{ .date }}</td>
            <td style="width:50%;text-align:left">{{ .title | markdownify }}</td>

            {{- if .header }}

            <td style="width:10%;text-align:center" class="mid-table-header">Reading</td>
            <td style="width:10%;text-align:center" class="mid-table-header">Assignment</td>
            <td style="width:10%;text-align:center" class="mid-table-header">Class</td>

            {{- else }}

            {{- if .reading }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/reading/{{ .reading }}/">
                    <i class="fas fa-book-reader fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book-reader fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .assignment }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/assignment/{{ .assignment }}/">
                    <i class="fas fa-laptop-code"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-laptop-code"></i></font>
            </td>
            {{- end }}

            {{- if .class }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/class/{{ .class }}/">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i></font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
