<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:18%;text-align:right">{{ .date }}</td>
            <td style="width:50%;text-align:left">{{ .title | markdownify }}</td>

            {{- if .header }}

            <td style="width:8%;text-align:center" class="mid-table-header">Content</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Lesson</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Example</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Assignment</td>

            {{- else }}

            {{- if .content }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/content/{{ .content }}/">
                    <i class="fas fa-book-reader fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book-reader fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .lesson }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/lesson/{{ .lesson }}/">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-chalkboard-teacher fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .example }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/example/{{ .example }}/">
                    <i class="fas fa-laptop-code fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-laptop-code fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .assignment }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/assignment/{{ .assignment }}/">
                    <i class="fas fa-pencil-ruler fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-pencil-ruler fa-lg"></i></font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
